<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Resources</title>

	<script src="js/about.js"></script>
	<%= stylesheet_link_tag('resources') %>
</head>

<body>


<h1>Coming Soon!
</h1>

<p>In the meantime check-out my blog <a href="http://becomingaunicorn.herokuapp.com/"> "Becoming a Unicorn"</a>!</p>

<div id="blog">
				<a href="http://becomingaunicorn.herokuapp.com/"><%= image_tag('blog.png', :size=>'50x50') %></a>
</div>


</body>