<div class="menu-panel">
	<h3>Becoming a Unicorn</h3>
	<ul id="menu-toc" class="menu-toc">
		<% @all_posts.each do |item| %>
			<li>
				<%= link_to item.title, item_path(item) %>
			</li>
		<% end %>				
	</ul>
</div>